<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>490778907312-60ma582j37uhtr0fnovsth3rvgc32s39.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.490778907312-60ma582j37uhtr0fnovsth3rvgc32s39</string>
	<key>API_KEY</key>
	<string>AIzaSyBYzd4cjEK5p-rSwmgltxS_gNfgdAW08Y4</string>
	<key>GCM_SENDER_ID</key>
	<string>490778907312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.LearningTSProject</string>
	<key>PROJECT_ID</key>
	<string>learning-547bb</string>
	<key>STORAGE_BUCKET</key>
	<string>learning-547bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490778907312:ios:aae3ca66bb18899bcb6175</string>
</dict>
</plist>